th {
    background-color: tomato;
    height: 40px;
    color: aliceblue;
    border: 2px solid black;
}

tr:nth-child(even) {
    background-color: lightblue;
}

td {
    border: 2px solid green;
}

table {
    border-collapse: collapse;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}